.bg-img {
  width: 100%;
  height: auto;
  background: url('../assests/background.jpg') center;
  background-size: cover;
  position: relative;
}
.cv-container{
  padding: 60px 0px;
  height: 70%;
  width: 100%;
}

.cv-rows{
  padding: 30px 0px 10px;
}

.cv-cols{
  background-color: #f2efea;
  border: 2px;
  font-family: 'Mandali', cursive;

}
.cv-cols1{
  padding: 20px 20px;
  background-color: #f2efea;
  border: 2px;
  font-family: 'Mandali', cursive;
}

.nav-tabs{
  border-bottom: none;
}

.nav-item{
padding: 2px 0 2px;
background-color: #16a596;
font-family: 'Mandali', cursive;
}

.nav-link{
  color: white;
  border: none;
}
.nav-link.active:hover{
    background: white;
    color: black;
    border: none;
}
.nav-item:hover {
  background: white;
}

.nav-link:hover {
  color: black;
}


li{
  margin: 5px;
}

.scrolly-tab{
  padding-right: 5px;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}


/* colours */
span{
  color: #16a596;
  font-weight: 600;
}

h3{
  font-weight: 800;
font-family: 'Orelega One', cursive;
}

hr{
  color: black;
}

h6{
  padding-bottom: 3px;
}

/* button */

.btn-submit {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #16a596;
  padding: 8px;
  text-decoration: none;
 border: solid #16a596 2px;
 font-family: 'Orelega One', cursive;
}

.btn-submit:hover {
  background: white;
  color: black;
  font-family: 'Orelega One', cursive;
}

/* fontawesome */
.font-c{
  padding: 5px;
}

.font-c:hover {
    color: #16a596;
}

.home{
  border: solid #cdc7be 2px;
  padding: 5px;
}

.home-ul{
  border: solid #cdc7be 2px;
}

.h6{
color: #16a596;
font-weight: 600;
}

.img{
  height: 30%;
  width: 50%;
}
